<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>


{% if request.session.username %}
<p>
    Welcome {{ request.session.username }}
</p>
<p>
    <a href="/user/logout">Log out</a>
</p>
<p>
    <a href="">My Note</a>
</p>
{% else %}
    {% if request.COOKIES.username %}
    <p>
    Welcome {{ request.COOKIES.username }}
    </p>
    <p>
        <a href="/user/logout">Log out</a>
    </p>
    <p>
        <a href="">My Note</a>
    </p>
    {% else %}
    <p>
        <a href="/user/login">Login</a>
    </p>
    <p>
        <a href="/user/reg">Registration</a>
    </p>
    {% endif %}

{% endif %}

</body>
</html>